.phaserDiv { 
    z-index: -1;
    height: 100vh;
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0;
    width: 100%;
}

.qrcode { 
    z-index: 70;
    position: absolute; 
    bottom: 0;
}